@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');

@font-face {
    font-family: 'FuturaPT-Bold';
    src: url('./FuturaPT-Bold.woff') format('woff'),
      url('./FuturaPT-Bold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Light';
    src: url('./FuturaPT-Light.woff') format('woff'), url('./FuturaPT-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('./Poppins-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

:root {
    --bottom-info-color: #EFAAAC;
    --bottom-color: #0B6B66;
    --first-main-color: #B7C58F;
    --second-main-color: #ECD9AF;
}

a {
    font-family: 'FuturaPT-Light';
    font-size: 25px;
    color: #106E69;

}

.wrapper--header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 180px;
}

.wrapper--header--button {
    font-family: 'Poppins';
    color: #0B6B66;
    font-size: 21px;
    padding: 30px 50px;
    border-radius: 300px;
    border: #0B6B66 solid;
    border-width: 2px;
    background-color: white;
    transition-duration: 0.3s;
}

.wrapper--header--button:hover {
    background-color: #0B6B66;
    color: white;
    transition-duration: 0.3s;
}

.wrapper--header--icon {
    width: 180px;
    height: 140px;
}

.wrapper--header--svg {
    height: 50px;
    width: 50px;
}